* {
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 55px 0 55px 0;
}

.header {
  width: 100%;
  height: 55px;
  position: fixed;
  top: 0;

  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: white;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  justify-items: center;
}

.header__back-btn {
    grid-column: 1 / 3;
}

.header__title {
    grid-column: 3 / 11;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.nav-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  z-index: 1;

  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: white;

  display: flex;
  overflow-x: auto;
}

.nav-bar__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
  color: #444444;
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: minmax(10%, 150px) minmax(10%, 50px) repeat(3, 1fr);
}

.main-banner {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.main-banner__img {
  width: 100%;
  height: 100%;
}

.search-bar {
  grid-column: 4 / 22;
  grid-row: 2 / 3;

  align-self: center;
  justify-self: center;

  display: grid;
  grid-template-areas: 
  "search-bar__btn search-bar__input";
}

.serach-bar__btn {
  grid-area: search-bar__btn;
}

.serach-bar__input {
  grid-area: search-bar__input;
  border: 1px solid #444444;
}

.category {
  grid-column: 4 / 22;
  grid-row: 3 / 6;

  display: grid;
  grid-template-areas: 
  "category-1 category-2 category-3"
  "category-4 category-5 category-6"
  "category-7 category-8 category-9";

  justify-items: stretch;
  align-items: stretch;
}

.category__item {
  display: grid;
  grid-template-rows: 1fr 20px;
  height: 100%;
  justify-self: center;
  justify-items: center;
}

.category__item__icon {
  grid-row: 1 / 2;
  width: 80%;
}

.category__item__title {
  grid-row: 2 / 3;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  font-weight: 900;
}

#category-1 {
  grid-area: category-1;
}
#category-2 {
  grid-area: category-2;
}
#category-3 {
  grid-area: category-3;
}
#category-4 {
  grid-area: category-4;
}
#category-5 {
  grid-area: category-5;
}
#category-6 {
  grid-area: category-6;
}
#category-7 {
  grid-area: category-7;
}
#category-8 {
  grid-area: category-8;
}
#category-9 {
  grid-area: category-9;
}